__pycache__/
.env
*.pyc
*.pyo
*.pyd
# monitor_log.csv
# costo energia.csv
instance/
.webassets-cache
# Ignorar base de datos y archivos temporales
monitor_log.db
*.sqlite
*.sqlite3
*.db
.DS_Store
*.log
*.pot
*.mo
.idea/
.vscode/
*.swp
*.bak
node_modules/
dist/
build/
__MACOSX/
